* {
   box-sizing: border-box;
}

.btn {
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
}

.header__logo {
   margin-left: 115px;
   margin-right: 75px;
}

.header__navbar{
   min-height: 80px !important;
}
.header__icon {
   margin-left: 35px;
}

.header__btn {
   margin-left: 44px;
   margin-right: 117px;
   width: 113px;
   height: 43px;
   color: #3A79FF !important;
   background-color: #D2E1FF !important;
   border: solid 0px !important;

}

/*     hero_image   */

.hero_image{
   background-color: #D8E0F7;
}
.hero_image__slider_dot {
   border-radius: 50%;
   height: 10px !important;
   width: 10px !important;
   background-color: #5982E7 !important;
   margin-right: 10px !important;
}
/* .active{
   background-color: #5982E7;
} */
.hero_image__carousel {
   height: 570px;
}
.hero_image__carousel-item{
   height: 570px;
}
.carousel-inner{
   position: relative;
}
.hero_image_start::after{
   content:url(/img/hero_image/Vector_line.svg);
   position: absolute;
   bottom: 0;
   right: 0;
   width: 1440;
}

/* ---------customers--------- */

.customers{
   min-height: 145px;
}


/* ----------------------------------blog------------------------------------ */
.blog{
   background-color: #E4E6F0;
   padding: 104px 0;
}
.blog__pre-title {
    text-align: center;
    font-size: 10px;
}
.blog__title{
    text-align: center;
    font-size: 24px;
}
.blog__slider{
   position: relative;
   display: flex; 
   /* height: 503px; */
}
.blog__slide{
   position: relative;
   /* top: 50%; */
   /* transform: translateY(50%); */
   /*border: 1px dotted red;*/
   width: 882px;
   margin: auto;
   padding: 155px 0 175px;
}
.blog__slide-title{
   font-size: 36px;
}
.blog__slide-text{
   font-size: 14px;
   line-height: 27px;
   color:#8D96BD;

}
.blog__slide-left-side{
   border: 1px dotted red;
}
.blog__slide-right-side{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.blog__btn{
   padding: 13px 15px;
   font-size: 13px;
   line-height: 16.25px;
}
.blog__full-img{
   height: 267px;
   width: 267px;
}
.blog__quartet-img{
   width: 126px;
   height: 126px;
}

.btest-blue{
   border:1px dotted blue;
}
.btest-red{
   border:1px dotted red;
}
.blog__carousel-control-prev-icon{
   background-image: url(./img/blog/left.png);
   width: 27px;
   height: 19px;
}
.blog__carousel-control-next-icon{
   background-image: url(./img/blog/left.png);
   transform: rotate(180deg);
   width: 27px;
   height: 19px;
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
}
.carousel-indicators li{
   width: 8px;
   height: 8px;
   background-color: #D1D6E3;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next{
   width: 30%;
}

 .blog .blog__dotted{
   background-color: #D1D6E3;
   opacity: 1;
}

.blog__dotted.active{
   background-color: #5283FF;

}
/* ----------------------------------BLOG----------------------------------------- */

/* вспомогательные */
.col-space-between{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.borderred{
   border: 1px dotted red;
}